In [2]:
import pandas as pd

In [26]:
df = pd.read_excel('O:\\COTAS SPX - ENVIO CLIENTE\\ENVIO-COTAS.xlsm', sheet_name = 'fundos')
df = df[['COD', 'COTA D-1']]
df['DATA'] = '2020-08-04'
df

       COD  COTA D-1        DATA
0    61921  3.441227  2020-08-04
1    61922  3.284017  2020-08-04
2    61923  3.021783  2020-08-04
3    61981  3.880689  2020-08-04
4    61984  6.533211  2020-08-04
..     ...       ...         ...
106  64643  1.153676  2020-08-04
107  64425  1.010060  2020-08-04
108  64678  1.017226  2020-08-04
109  64607  1.015937  2020-08-04
110  64496  1.000948  2020-08-04

[111 rows x 3 columns]

In [27]:
df.rename(columns={'COD':'CODFUND', 'COTA D-1':'COTA'}, inplace=True)
df = df[['CODFUND','DATA','COTA']]
df

     CODFUND        DATA      COTA
0      61921  2020-08-04  3.441227
1      61922  2020-08-04  3.284017
2      61923  2020-08-04  3.021783
3      61981  2020-08-04  3.880689
4      61984  2020-08-04  6.533211
..       ...         ...       ...
106    64643  2020-08-04  1.153676
107    64425  2020-08-04  1.010060
108    64678  2020-08-04  1.017226
109    64607  2020-08-04  1.015937
110    64496  2020-08-04  1.000948

[111 rows x 3 columns]

In [22]:
df = df[(df.CODFUND!=64480) & (df.CODFUND!=61923)]
df

     CODFUND        DATA      COTA
0      61921  2020-08-04  3.441227
1      61922  2020-08-04  3.284017
3      61981  2020-08-04  3.880689
4      61984  2020-08-04  6.533211
5      62006  2020-08-04  2.430590
..       ...         ...       ...
106    64643  2020-08-04  1.153676
107    64425  2020-08-04  1.010060
108    64678  2020-08-04  1.017226
109    64607  2020-08-04  1.015937
110    64496  2020-08-04  1.000948

[109 rows x 3 columns]

In [29]:
df[(df.CODFUND==64480) | (df.CODFUND==61923)]

     CODFUND        DATA      COTA
2      61923  2020-08-04  3.021783
103    64480  2020-08-04  1.036908

In [15]:
from sqlalchemy import create_engine
import urllib
quoted = urllib.parse.quote_plus('Driver={SQL Server};Server=EQNSQL02\\HOMOLOGASPXBANCO;Database=RIMovimentos;')
engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))

In [23]:
df.to_sql('Cotas', schema='dbo', con = engine, if_exists = 'append', index=False)