In [2]:
print('Hello world!')

Hello world!

In [3]:
import pyodbc as db
import pandas as pd

In [12]:
conn = db.connect('Driver={SQL Server};Server=EQNSQL02\\HOMOLOGASPXBANCO;Database=RIMovimentos;Trusted_Connection=yes')

movimentos = pd.read_sql_query('select * from Movimentacoes', conn)
movimentos = movimentos.sort_values(['COTIZACAO', 'CODFUND'], ascending = (True,True))
movimentos

,CODCOT,CODFUND,SOLICITACAO,COTIZACAO,IMPACTO,OPERACAO,FINANCEIRO,COTAS_SOLICITADO,COTAS_PREVISTO,ALOCADOR,CAUTELA
22236,1.458000e+03,62077,2010-11-30,2010-12-01,2010-12-01,A,1.000000e+06,NaN,NaN,BTG PACTUAL,0.0
22237,9.205900e+04,62077,2010-11-30,2010-12-01,2010-12-01,A,2.000000e+06,NaN,NaN,BTG PACTUAL,0.0
22242,1.146660e+05,62077,2010-12-01,2010-12-01,2010-12-01,A,1.000000e+06,NaN,NaN,TRIAR,0.0
22245,1.147330e+05,62077,2010-12-01,2010-12-01,2010-12-01,A,1.000000e+06,NaN,NaN,CSHG,0.0
22247,1.001145e+08,62077,2010-12-01,2010-12-01,2010-12-01,A,1.000000e+06,NaN,NaN,PF,0.0
...,...,...,...,...,...,...,...,...,...,...,...
42170,4.193000e+13,63999,2020-06-12,2020-12-31,2021-01-04,RT,1.559278e+07,1.500000e+07,1.500000e+07,PERFIN,0.0
42241,4.188000e+13,64271,2020-06-24,2020-12-31,2021-01-04,R,1.000000e+07,0.000000e+00,9.616507e+06,BRADESCO,0.0
38828,4.188000e+13,62008,2020-05-19,2021-07-13,2021-07-15,RT,9.109049e+05,3.070363e+05,3.070363e+05,SÓCIOS / FUNCIONÁRIOS,0.0
77667,4.188000e+13,62083,2020-05-13,2021-08-31,2021-09-01,RT,-1.000000e+06,3.933134e+06,-2.699312e+05,SÓCIOS / FUNCIONÁRIOS,0.0
38827,4.188000e+13,62008,2020-07-14,2021-09-02,2021-09-06,RT,0.000000e+00,5.122847e+06,0.000000e+00,SÓCIOS / FUNCIONÁRIOS,0.0

In [13]:
movimentos.to_csv('O:\CAIXAS\FLUXO\Movimentacoes - Gerencial.csv', index=False)
conn.close()